- content_for :title do 
  Welcome to Trim

%section#main-content

  %header#page-header
    .container
      %h1.page-title
        Welcome to Trim

  .container
    %section#primary
      %section.main-content
        - # Main Body
        You can customize all the things.
