- if breadcrumbs && breadcrumbs.size > 1
  %nav.breadcrumbs
    %ol.crumb-list
      - breadcrumbs.each_with_index do |crumb, i|
        - classes = i == 0 ? ['root'] : []
        - classes << 'active' if crumb == @active_nav_item

        - unless (i == 0 && options[:show_home] == false) || (crumb == @active_nav_item && options[:show_current] == false)
          %li{ :class => classes }
            - if crumb == @active_nav_item
              %span.active= crumb.title
            - elsif crumb != @active_nav_item
              = link_to crumb.title, polymorphic_path(crumb)
